<div id="menu">
  <div class="menu-div">
    <button id="all-jobs-button" class="menu-buttons">All Jobs</button>
    <button id="jobs-button" class="menu-buttons">Jobs</button>
    <button id="account-button" class="menu-buttons">Account</button>
  </div>
</div>
<div class="content">
  <div class="demo-card">
  <div class="card text-center">
    <div class="card-header">
      <h3>Task: <%=@task.title%></h1>
    </div>
    <div class="card-block">
    <p>Task owner: <%= link_to "#{@user.f_name} #{@user.l_name}", user_path(@user), class: "card-title" %></p>
    <p class="card-text">Description: <%=@task.description%></p>
    <p>Job: <%= link_to "#{@job.title}", job_path(@job), class: "btn btn-primary"%></p>
    </div>
    <div class="card-footer text-muted">
      <%=@task.created_at%>
    </div>
  </div>
</div>
  <div class="comment">
    <%@comments.each do |comment| %>
      <div class="demo-card">
      <div class="card text-center">
      <div class="card-header">
        <p><%=link_to "#{comment.user.f_name} #{comment.user.l_name}", user_path(comment.user)%>: <%=comment.comment %> <%if current_user == comment.user%> <%=link_to "Edit", edit_comment_path(comment)%> <%= link_to 'Delete', comment_path(comment), method: :delete, data: {confirm: "Really delete this comment?"}%> <%=link_to "Reply", new_answer_path(comment)%> <%else%> <%=link_to "Reply", new_answer_path(comment)%> <%end%></p>
      </div>
      <%@answers.each do |reply| %>
        <%if comment.id == reply.comment_id %>
        <p class="card-text"><%=link_to "#{reply.user.f_name} #{reply.user.l_name}", user_path(reply.user)%>: <%=reply.answer %> <%if current_user == reply.user%> <%=link_to "Edit", edit_answer_path(reply)%> <%=link_to 'Delete', answer_path(reply), method: :delete, data: {confirm: "Really delete this comment?"}%> <%=link_to "Reply", new_answer_path(comment)%><%else%> <%=link_to "Reply", new_answer_path(comment)%><%end%> </p>
        <%end%>
      <%end%>
      <%if @user.business == current_user.business %>
        <%=link_to "Add comment", new_job_task_comment_path(@job,@task), id: "add-comment"%>
      <%end%>
        </div>
        </div>
    <%end%>
  </div>
</div>
