<%= form_for @business do |f| %>
  User Info:
  <ul>
    <%= f.fields_for :users do |users_form| %>
      <li>
        <%= users_form.label :first_name %>
        <%= users_form.text_field :f_name %>

        <%= users_form.label :last_name %>
        <%= users_form.text_field :l_name %>

        <%= users_form.label :phone_number %>
        <%= users_form.text_field :phone %>

        <%= users_form.label :username %>
        <%= users_form.text_field :username %>

        <%= users_form.label :email %>
        <%= users_form.text_field :email %>

        <%= users_form.label :password %>
        <%= users_form.password_field :password %>

        <%= users_form.label :password_confirmation %>
        <%= users_form.password_field :password_confirmation %>

        <%= users_form.label :business_title %>
        <%= users_form.text_field :title %>

        Company<%= users_form.collection_select :company, Business.order(:company),:id,:company, include_blank: true %>
        <br>
      </li>
    <% end %>
  </ul>
  <br>Business Info:
    <%=f.label :company_name%>
    <%=f.text_field :company %>
    <%=f.label :company_field %>
    <%=f.text_field :company_field %>
    <%=f.label :phone_number%>
    <%=f.text_field :phone_bus %>
    <%=f.label :address %>
    <%=f.text_field :address %>
  <p>
  <%= f.submit "Submit" %>
<% end %>
